body {
    padding: 0;
    margin: 5px;
    font-family: Arial;
    font-size: 13px;
}

.container {
    margin: 3% 35%;
}

label {
    display: inline-block;
    position: relative;
    float: left;
    width: 41%;
    text-align: right;
    padding: 4px 20px 5px 0;
    top: -6px;
}

.boldLabel {
    font-weight: 600;
}

input {
    display: inline-block;
    position: relative;
    top: -6px;
}

p.header {
    display: inline-block;
    position: relative;
    font-weight: 600;
    margin: 0;
    top: -10px;
    left: 50px;
    background-color: white;
    padding: 0 20px;
}

.form {
    border-top: 2px solid #cfcfcf;
    padding-bottom: 30px;
}

select {
    width: 176px;
    height: 22px;
    text-align: center;
}