@font-face {
    font-family: BerkshireSwash;
    src: url(fonts/BerkshireSwash-Regular.ttf);
}

@font-face {
    font-family: GrenzeGotisch;
    src: url(fonts/GrenzeGotisch-VariableFont_wght.ttf);
}

@font-face {
    font-family: Rowdies;
    src: url(fonts/Rowdies-Regular.ttf);
}

body {
    font-size: 25px;
    font-family: GrenzeGotisch;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: royalblue;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-decoration: underline;
    -moz-text-decoration-color: red;
    text-decoration-color: red;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
}

p {
    text-shadow: -3px -3px 8px darkviolet;
    margin: 0 15% 9px;
    
}

p:nth-child(3) {
    font-family: Rowdies;
    color: #3f3f3f;
}

p:nth-child(2)::first-letter {
    color: greenyellow;
    font-size: 76px;
}

p:nth-child(3)::first-line {
    color: red;
}

table {
    caption-side: top;
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    border-top-width: 4px;
    border-top-color: ActiveCaption;
}

th:empty {
    background-color:red;
}

td:empty {
    background-color:red;
}

th {
    
}

td {
    text-align: center;
}